ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /* hide rest of content; controls what happens to the content that is too big to fit into the area */
}  /* overflow: auto, 
     
    visible - shows content
    
    scroll -  scrollbox when content overflows
    
    auto - when neededit creates a scrollbox 
    
    */ 

li {
    float: left;
}

li a {
    display: inline-block; 
    padding: 8px;
    background-color: pink;
    text-decoration: none;
}

li a:hover{
    background-color: gray;

}