// google font
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

// font var
$karla: 'Karla', sans-serif; 
$kanit: 'Kanit', sans-serif;

// color var
$primary-color: #cccccc;
$accent-color: #fff;
$secondary-color: #999;
$hover-color: rgb(0, 0, 0);

// spacing var
$spacer-sm: 0.5rem;
$spacer-m: 1.5rem;
$spacer-l: 2.5rem;

// font size var
$font-size-sm: 0.8rem;
