body{
    background-color: black;
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.c1{
    border: 2px dashed rgb(199, 54, 22);
    position: absolute;
    top: 10px;
    left: 10px;
    width: 6%;
    height: 52.5%;
    padding: 0.4rem;
}

.c2{
    border: 2px inset rgb(218, 187, 32);
    position: absolute;
    top: 10px;
    left: 9%;
    width: 6%;
    height: 52.5%;
    padding: 0.4rem;
}

.c3{
    border: 2px dotted rgb(16, 210, 93);
    position: absolute;
    top: 10px;
    left: 17.5%;
    width: 6%;
    height: 52.5%;
    padding: 0.4rem;
}

.c4{
    border: 2px outset rgb(18, 77, 204);
    position: absolute;
    top: 10px;
    left: 26%;
    width: 6%;
    height: 52.5%;
    padding: 0.4rem;
}