// google font
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

// font var
$karla: 'Karla', sans-serif; 
$kanit: 'Kanit', sans-serif;

// color var
$primary: #cccccc;
$light: #fff;
$dark: #999;
$link: rgb(0, 0, 0);

// spacing var
$sm: 0.5rem;
$spacing: 1.5rem;
$formSpace: 2.5rem;

// font size var
$font-sm: 0.8rem;
